/*線の太さを統一*/
hr {
    height:3px;
    width:auto;
    background-color:black;
    border:none;
}
/*borderによる線指定*/
.section_border{
    border-top: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*ログインページ用のCSS。
「submittd」で送信ボタンを右寄せ、
「submitbutton」は送信ボタンのサイズなど、
「loginform」で入力ボックスのサイズを制御*/
.submitbutton {
    height:75px;
    width:90px;
    border-color:blue;
    border-width:1px;
    background-color:lightblue;
}
.loginform {
    height:30px;
    width:150px;
}
/*フォント関係
「titlefont」はタイトル用の太字、「infofont」は本文用*/
.titlefont {
    font-size:60px;
    font-weight:600;
}
.infofont {
    font-size:20px;
    font-weight:500;
}
.komidashifont {
    font-size:40px;
    font-weight:600;
}
/*トップページ用CSS。
「hometable」でトップページのフレーム用のtableタグを制御、
「linkbutton」で各コンテンツにジャンプする用のボタンを制御
*/
.homeable {
    text-align:center;
}
.linkbutton {
    height: 60px;
    width:100px;
    border-color:red;
    border-width:1px;
    background-color:orange;
}