input {
    height:30px;
    width:150px;
}
button {
    height:60px;
    width:200px;
    align:center;
}
hr {
    height:3px;
    width:auto;
    background-color:black;
    border:none;
}
.submittd {
    text-align:right;
}
.logo {
    height:90px;
    width:90px;
}
.titlefont {
    font-size:60px;
    font-weight:600;
}
.infofont {
    font-size:20px;
    font-weight:600;
}
